@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Bruno Ace', cursive;
}

section {
  padding-left: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
}

input::placeholder,
.button {
  font-family: 'Bruno Ace', cursive;
}

input:last-child {
  width: 50%;
  place-self: flex-end;
}

ul {
  list-style: none;
  padding: 0;
  border: 2px solid rgb(69, 68, 68);
  box-shadow: 7px 9px 11px 0 #a7a3a3;
}

li {
  padding: 0.1rem 0.5rem;
  display: flex;
  gap: 1rem;
}

li:nth-child(even) {
  background-color: rgb(221 221 221);
}

.button {
  background-color: aliceblue;
  box-shadow: 5px 5px 4px 0 #8c8686;
}

.scores {
  display: flex;
  justify-content: space-around;
}

.left-side {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  min-width: 30rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

.refresh {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}

.header > h1 {
  padding-left: 10%;
}

.form-message {
  color: green;
}
